  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

  :root {
    --primary-color:#013220 ;
    --secondary-color: black;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .anasayfa{
    background-color: #eee;
    text-align: center;
  }
  .anasayfa img{
    width: 100%;
    height: 680px;
    background-color: #eee;
  }
  .anasayfa h3{
   font-size: 30px;
   padding: 5px;
   background-color: #013220;
   color: #fff;
  }

  a{
    color: #333;
    text-decoration: none;
  }

  h1,h2,h3{
    padding-bottom: 20px;
  }
  p{
    margin: 10px 0;
  }
  .container{
    margin: auto;
    max-width: 1100px;
    padding: 0 20px;
  }
  .container .tarihce{
    border: #333 solid 1px;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
  }
  .container .tarihce h1{
    font-size: 15px;
  }
  .container .tarihce img{
    width: auto;
    height: auto;
  }
  .container .tarihce .resim{
    width: 220px;
    height: 200px;
    margin-right: 10px;
  }
  #navbar{
    background: var(--secondary-color);
    color: #fff;
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }
  #navbar .container h1{
    font-size: 40px;
  }
  #navbar a {
    color: #fff;
  }

  #navbar h1{
    float: left;
    padding: 20px;
  }

  #navbar ul {
    list-style: none;
    float: right;
  }

  #navbar ul li{
    float: left;
  }

  #navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
  }

  #navbar ul li a:hover{
    background: var(--primary-color);
    color: #f7c08a;
  }

  .location {
    width: 400px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
  }

  .location img {
    width: 100%;
  }
  .location-info{
      color: #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem 1rem;
      letter-spacing: 0.5px;
  }
  .location-info h3{
      margin-top: 0;
  }
  .location-info span{
      background-color: var(--primary-color);
      padding: 0.25rem 0.5rem;
      border-radius: 3px;
      font-weight: bold;
  }
.location-info span.green {
    color: lightgreen;
  } 
  .location-info span.orange {
    color: orange;
  }
  
  .location-info span.red {
    color: red;
  }

  .overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow: auto;
  }
  .overview .baslık{
    font-size: 15px;
  }
  .overview .acıklama{
    font-size: 11px;
  }

  .location:hover .overview{
    transform: translateY(0);
  }


